.jumbotron {
    background-image: url("milktea.jpg");
    background-size: cover;
    min-height: 400px;
    color: hsl(0, 3%, 94%);
    font-weight: bold;
    // -webkit-text-stroke: .1px black;
  }
  
  p, li {
    font-family: 'Muli', sans-serif;
  }
  
  h1 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    font-style: italic;
  }
  
  a {
    font-family: 'Muli', sans-serif;
    color:#1f11a0;
  }
  
  .jumbotron a:hover {
    background-color: #fa8072 ;
  }
  
  h2 {
    font-family: 'Muli', sans-serif;
    color: #972929;
  }
  
  /* this works now! */
  .btn {
    background-color: #a13131;
    border: none;
    color: #f5f3f3;
    font-weight: bold;
    padding: 3px 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    -webkit-text-stroke: .1px black;
  }
